<%- include("layouts/header") -%>

    <!-- Page Heading -->
    <div class="container-fluid">
      <div>
        <p>
          <strong>Cars</strong>                     
          <i class="fa-solid fa-angle-right"></i>
          <span>List cars</span>
          </p>
      </div>
   
    <div class="ml-3">
      <h5><strong>Add New Car</strong></h5>
    </div>
    <form class="p-2" action="/addCar" method="POST" enctype="multipart/form-data">
      <div class="bg-white p-4">
        <div class="row mb-3">
          <label for="inputName" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="name" id="inputName" placeholder="Avanza" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputRent" class="col-sm-2 col-form-label"
            >Sewa  Per Hari</label
          >
          <div class="col-sm-3">
            <input type="text" class="form-control" name="price" id="inputRent" placeholder="Rp 0,-" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputSize" class="col-sm-2 col-form-label">Ukuran</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="size" id="inputSize" placeholder="Small " />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputImage" class="col-sm-2 col-form-label">Foto</label>
          <div class="col-sm-3">
            <input type="file" class="form-control" name="image" id="inputImage" />
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-blue btn-outline-primary mt-5">
        <a href="/">Cancel</a>
      </button>
      <button type="submit" class="btn btn-blue btn-primary mt-5 ml-2">Save</button>
    </form>
  </div>
  
    </div>

<%- include("layouts/footer") -%>