<%- include("layouts/header") -%>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div>
    <p>
      <strong>Cars</strong>
      <i class="fa-solid fa-angle-right"></i>
      <span>List cars</span>
    </p>
  </div>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 font-weight-bold">List Car</h1>
    <a
      href="/addCar"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i class="fas fa-plus mr-2"></i> Add New Car</a
    >
  </div>

  <!-- Content Row -->

  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="/" class="btn btn-outline-primary mr-3 active">All</a>
    <a href="/smallCar" class="btn btn-outline-primary mr-3">Small</a>
    <a href="/mediumCar" class="btn btn-outline-primary mr-3">Medium</a>
    <a href="/largeCar" class="btn btn-outline-primary">Large</a>
  </div>

  <!-- list cars -->
  <div class="row">
    <% items.forEach((item)=> {%>
    <div class="col-4">
      <div class="card-mobil card">
        <img
          src="<%= item.imageUrl %>"
          class="card-img-top"
          alt="mobil-01"
          width="270"
          height="160"
        />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              height: 35px;
              overflow-y: hidden;
              font-size: 14px;
              margin-top: -27px;
            "
          >
            <%= item.name %>/ <%= item.size %>
          </h5>
          <h4 style="font-size: 16px; margin-top: -15px">
            <strong> Rp <%= item.price %> / hari</strong>
          </h4>
          <p
            style="
              height: 50px;
              overflow-y: hidden;
              font-size: 14px;
              margin-top: 20px;
            "
          >
            <img
              src="https://ik.imagekit.io/wx1jhmfkq/fi_clock_RKzmL8qGG.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665333119979"
              alt=""
            />
            Updated At <%= item.updatedAt %>
          </p>
          <div class="row mx-auto">
            <div class="col-6">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-outline-danger btn-lg"
                data-toggle="modal"
                data-target="#exampleModal<%= item.id %>"
              >
                <i class="fa-solid fa-trash"></i>
                Delete
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal<%= item.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="container-fluid">
                        <div class="col-md-3 mx-auto icon-modal">
                          <img
                            src="https://ik.imagekit.io/wx1jhmfkq/img-BeepBeep_j7AUIW7F2.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665362783218"
                            width="154px"
                            height="121px"
                            style="margin-left: -27px"
                            alt=""
                          />
                        </div>
                        <div class="text-center mt-2 title-modal">
                          <h5>Menghapus Data Mobil</h5>
                        </div>
                        <div class="text-center mt-2 pl-4 pr-4">
                          <p>
                            Setelah dihapus, data mobil tidak dapat
                            dikembalikan. Yakin ingin menghapus?
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <form action="/delete/<%= item.id %>" method="get">
                        <button
                          type="submit"
                          class="btn btn-primary"
                          style="width: 87px"
                        >
                          Ya
                        </button>
                      </form>
                      <button
                        type="button"
                        class="btn btn-outline-primary active"
                        style="width: 87px"
                        data-dismiss="modal"
                      >
                        Tidak
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <button type="button" class="btn-mobil btn btn-success btn-lg">
                <a href="/updateCar/<%= item.id %> "
                  ><i style="font-size: 24px" class="fas">&#xf044;</i> Edit</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include("layouts/footer") -%>
