<%- include("layouts/header") -%>

  <div class="container-fluid">
    <!-- Page Heading -->
    <div>
      <p>
        <strong>Cars</strong>                     
        <i class="fa-solid fa-angle-right"></i>
        <span>List cars</span>
        </p>
    </div>

  <h4>Update Car Information</h4>
  <form class="bg-white p-4" action="/updateCar/<%= items?.id %> " method="POST" enctype="multipart/form-data">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">Nama</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="name" id="inputName" value="<%= items?.name %>" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputRent" class="col-sm-2 col-form-label"
        >Sewa  Per Hari</label
      >
      <div class="col-sm-3">
        <input type="text" class="form-control" name="price" id="inputRent" value="<%= items?.price %>" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputSize" class="col-sm-2 col-form-label">Ukuran</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="size" id="inputSize" value="<%= items?.size %>" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputImage" class="col-sm-2 col-form-label">Foto</label>
      <div class="col-sm-3">
        <input type="file" class="form-control" name="image" id="imageUrl" value="<%= items?.imageUrl %>"/>
      </div>
    </div>
    <button type="button" class="btn btn-outline-blue btn-outline-primary mt-5">
        <a href="/">Cancel</a>
      </button>
      <button type="submit" class="btn btn-blue btn-primary mt-5 ml-2">Save</button>
  </form>
</div>
</div>


  </div>    

  <%- include("layouts/footer") -%>
<script>
  (function($) {
  "use strict"; // Start of use strict

  // Toggle the side navigation
  $("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
    $("body").toggleClass("sidebar-toggled");
    $(".sidebar").toggleClass("toggled");
    if ($(".sidebar").hasClass("toggled")) {
      $('.sidebar .collapse').collapse('hide');
    };
  });

  // Close any open menu accordions when window is resized below 768px
  $(window).resize(function() {
    if ($(window).width() < 768) {
      $('.sidebar .collapse').collapse('hide');
    };
    
    // Toggle the side navigation when window is resized below 480px
    if ($(window).width() < 480 && !$(".sidebar").hasClass("toggled")) {
      $("body").addClass("sidebar-toggled");
      $(".sidebar").addClass("toggled");
      $('.sidebar .collapse').collapse('hide');
    };
  });

  // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
  $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function(e) {
    if ($(window).width() > 768) {
      var e0 = e.originalEvent,
        delta = e0.wheelDelta || -e0.detail;
      this.scrollTop += (delta < 0 ? 1 : -1) * 30;
      e.preventDefault();
    }
  });

  // Scroll to top button appear
  $(document).on('scroll', function() {
    var scrollDistance = $(this).scrollTop();
    if (scrollDistance > 100) {
      $('.scroll-to-top').fadeIn();
    } else {
      $('.scroll-to-top').fadeOut();
    }
  });

  // Smooth scrolling using jQuery easing
  $(document).on('click', 'a.scroll-to-top', function(e) {
    var $anchor = $(this);
    $('html, body').stop().animate({
      scrollTop: ($($anchor.attr('href')).offset().top)
    }, 1000, 'easeInOutExpo');
    e.preventDefault();
  });

})(jQuery); // End of use strict

</script>